// primary
$pinkLightest: #FFE9EB;
$pinkLighter: #FCD9DC;
$pinkMain: #F5C1C5;
$pinkDarker: #EFB0B7;
$pinkDarkest: #DB7C87;

// secondary
$lavenderMain: #D5BECD;
$lavenderLighter: #EFDEE9;
$lavenderLightest: #F8E9F2;

// black/white
$black: #171415;
$white: #FFFAFC;

// status
$info: #5055CB;
$success: #15D2A7;
$warning: #FFCC00;
$error: #EB5757;
