@use '../../styles/main.scss' as styles;

.page-content {
  padding: 2rem 5rem;
}

.home-h1 {
  font-family: styles.$title;
}

.about-section-div {
  display: flex;
  flex-direction: column;
  padding: .5rem 0;
}

.collapser {
  background-color: styles.$white;
  color: styles.$pinkDarkest;
  padding: .25rem .5rem;
  width: auto;
}

.active-collapser, .collapser:hover {
  background-color: styles.$pinkDarkest;
  color: styles.$white;
  cursor: pointer;
}

.about-skills-list {
  margin-left: .75rem;
  display: none;
  overflow: hidden;
}

.unfolded {
  display: block;
}

.section-icon {
  padding-right: .5rem;
}

.list-icon {
  padding-right: .5rem;
}