@use '../../styles/main.scss' as styles;

.about-content {
  padding: 1rem 2rem;
}

.contact-links {
  width: 22rem;
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
}

.contact-li {
  width: 6rem;
  box-shadow: 0 0 0.75rem styles.$lavenderMain;
  border-radius: 0.5rem;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: styles.$header;
  color: styles.$pinkDarkest;
  font-weight: 700;
  padding: 0.5rem 0;
}

.contact-li:hover {
  background-color: styles.$lavenderLightest;
  box-shadow: 0 0 0.75rem styles.$white;
}

.contact-icon {
  width: 2rem;
  height: auto;
  color: styles.$pinkDarkest;
}