@use "../../styles/main.scss" as styles;

header {
  background-color: styles.$white;
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  box-shadow: 0 0.125rem 2px 1px styles.$lavenderMain;
}

nav {
  padding: 0.75rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 88rem;
  margin: 0 auto;
}

.nav-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  // -webkit-transition {
  //   h1 {
  //     transform: color 1s ease-in-out;
  //   }
  // }
  // -moz-transition {
  //   h1 {
  //     transform: color 1s ease-in-out;
  //   }
  // }
  // -o-transition {
  //   h1 {
  //     transform: color 1s ease-in-out;
  //   }
  // }
  // transition {
  //   h1 {
  //     transform: color 1s ease-in-out;
  //   }
  // }
  h1 {
    font-family: styles.$title;
    font-size: 2rem;
    color: styles.$pinkDarkest;
  }
}

a.nav-section:hover {
  h1 {
    color: styles.$lavenderMain;

  }
}

.logo {
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}

.nav-ul {
  background-color: styles.$white;
  display: none;
  @include styles.sm {
    display: flex;
  }
}

a.nav-link {
  text-decoration: none;
  color: styles.$pinkDarkest;
  padding: 0.5rem;
}

a.nav-link:hover {
  background-color: styles.$lavenderLightest;
}

.nav-li {
  // padding-left: 1rem;
  font-family: styles.$header;
  font-weight: 800;
  float: left;
}

// .dd-trigger {
//   float: left;
//   overflow: hidden;
// }

.dd-nav {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 .25rem styles.$pinkDarkest;
}

.dd-item {
  float: none;
  color: black;
  // padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  &:hover {
    background-color: styles.$white;
    text-decoration: underline styles.$pinkDarkest .125rem;
  }
}

.dd-link {
  display: block;
  text-decoration: none;
  color: styles.$pinkDarkest;
  padding: 0.5rem;
}

.dd-trigger:hover .dd-nav {
  display: block;
}