@use '../../styles/main.scss' as styles;

nav {
  padding: .5rem;
  background-color: styles.$white;
  display: flex;
}

.nav-section {
  display: flex;
}

.logo {
  width: 3rem;
  height: auto;
}

.nav-ul {
  display: flex;

}